body {
       background-color:green;
       font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
       font-size:12px;
       height:100%;
       margin:0px;
       padding-left:100px;
       width:100%;
   }

   #photo{
       display:none;
       width:255px;
       height:255px;
   }

   #sendPhoto{
       display: none;
   }
